# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Editor / IDE artifacts
.vscode/
tempCodeRunnerFile.py
*/tempCodeRunnerFile.py
*.tmp
